{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Polls App">
	<meta name="theme-color" content="#35424a">
	<title>{% block title %}{% endblock %}</title>	
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
	<header>
		<div class="container">
			<div id="branding">
				<h1><span class="highlight">Polls</span> Application</h1>		
			</div>
			<nav>
				<ul>
					<li class="current"><a href="{% url 'pollsapp:index' %}">Home</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">About</a></li>
					<li><a href="{% url 'login' %}">Login</a></li>
				</ul>
			</nav>			
		</div>
	</header>
	{% block content%}{% endblock %}
	<footer>Polls Application, Copyright &copy,2019</footer>

</body>
</html>